.skipnav {
    text-decoration: none;
}
/* Styles the site's main tags */
h2 {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

h3 {
    font-family: 'Kanit', sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    text-align: center;
}

h4 {
    font-family: 'Kanit', sans-serif;
    color: white;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

h5 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 2em;
}

/* Sets logo size */

.logo {
    width: 20em;
}

/* Styles and centers the navbar */

ul {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}

.nav-item {
    padding: 20px 50px 20px 50px;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    color: #994395;
    text-transform: uppercase;
    display: inline-block;
}

/* Organizes the navbar horizontally */
#home, #about, #contact {
    display: inline-block;
}

/* Focus styles for navbar */
#home:hover, #about:hover, #contact:hover {
    text-decoration: underline;
}

#home:focus, #about:focus, #contact:focus {
    color: black;
}

/* Adds background image to homepage banner */
.banner-background {
    width: 100%;
    height: 100%;
    background-image: url('/images/banner-background.jpg');
    background-size: cover;
    background-position: center;
}

/* Adds background image to about us page banner */
.aboutbanner-background {
    width: 100%;
    height: 100%;
    background-image: url('/images/aboutus-banner.jpg');
    background-size: cover;
    background-position: center;
}

/* Adds background image to contact us page banner */
.contactbanner-background {
    width: 100%;
    height: 100%;
    background-image: url('/images/contact-banner.jpg');
    background-size: cover;
    background-position: center;
}

/* Layers brand color over background image on homepage */
.banner-layer {
    background: rgba(153,67,149,0.5);
    color: white;
}

/* Styles and spaces banner text */
#banner-heading {
    padding: 5em 1em 1em 1em;
    text-shadow: darkmagenta 1px 0 10px;
}

#banner-text {
    padding: 0em 1em 8em 1em;
}

/* Styles general products section on homepage*/
.shop-section {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}

.sections {
    border-bottom: black solid 1px;
    justify-content: center;
    max-width: 100%;
    min-width: 100%;
}

/* Flexes product images */
.product-images {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5em;
    padding: 70px 20px 0px 20px;
}

.cakes-product-img {
    flex: 1;
    flex-basis: auto;
}

.sweets-product-img {
    flex: 1;
    flex-basis: auto;
}

.loaves-product-img {
    flex: 1;
    flex-basis: auto;
}

/* Flexes product headings */
.section-heading {
    color: #994395;
}

.product-headings {
    display: flex;
    text-align: center;
    gap: 3em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.cakes-product-heading {
    flex: 1;
}

.sweets-product-heading {
    flex: 1;
}

.loaves-product-heading {
    flex: 1;
}

/* flexes product buttons */
.section-button {
    border: none;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    background-color: transparent;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center;
}

/* Styles FontAwesome arrow icon */
.product-arrow {
    padding: 0em 0em 0em .5em;
}

/* Flexes product buttons on homepage*/
.product-buttons {
    display: flex;
    padding-bottom: 4em;
    gap: 3em;
}

.cakes-product-button {
    flex: 1;
}

.sweets-product-button {
    flex: 1;
}

.loaves-product-button {
    flex: 1;
}

/* Organizes services section as CSS grid on homepage */
.grid-container {
    display: grid;
    max-width: 100%;
    min-width: 100%;
}

.grid-item-1 {
    grid-area: storetext;
    
}

.grid-item-2 {
    grid-area: storeimage;
}

.grid-item-3 {
    grid-area: cateringimage;
}

.grid-item-4 {
    grid-area: cateringtext;
}

.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "storetext storeimage"
    "cateringimage cateringtext";
}

/* Creates flex layout for services section of homepage


/* Spaces heading in flex */
/* .flex-heading {
    padding: 2em .5em 0em .5em;
    display: flex;
}

#storefront {
    padding: .5em 0em 0em .7em;
    display: flex;
}

#catering {
    padding: .5em 0em 0em .5em;
    display: flex;
}

.flex-text {
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
}

#findus {
    padding-bottom: 20em;
}

/* Sets width of services i*/
.storefrontphoto {
    width: 100%;
}

.cateringphoto {
    width: 100%;
}

/* Styles services button  */
.services-button {
    border: none;
    color: #994395;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    background-color: transparent;
    text-decoration: none;
    padding-left: 1.25em;
}

/* Styles About Us page */

/* Spaces YouTube video from top */
iframe {
    padding-top: 3em;
}

/* Styles text on About page */
#who {
    color: #994395;
    padding-top: 1.5em;
}

.whotext {
    display: inline-block;
    font-size: 25px;
    width: 75%;
    text-align: center;
    padding-top: 1em;
}

/* Spaces FontAwesome cake */
.fa-birthday-cake {
    padding: 2em 0em 3em 0em;
}

/* Flexes mission and vision cards and adds background image*/
.msflex {
    display: flex;
}

.mission-background {
    flex: 1;
    width: 100%;
    background-image: url('/images/mission.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.vision-background {
    flex: 1;
    width: 100%;
    height: 400px;
    background-image: url('/images/vision.jpg');
    background-size: cover;
    background-position: center;
}

.about-layer {
    background: rgba(255,255,255,0.8);
    color: white;
    height: 400px;
    padding-top: 4em;
}

/* Styles About Us text */
.about-h4 {
    color: #994395;
    font-size: 2em;
}

.ms-text {
    display: inline-block;
    color: black;
    font-size: 25px;
    width: 75%;
    text-align: center;
}

/* Spaces FontAwesome heart */
.fa-heart {
    padding: 2em 0em 2em 0em;
}

/* Finetunes any changes to font and spacing */
#employ {
    color: #994395;
}

#ivythai {
    padding-bottom: 3.5em;
}

#ivyphoto {
    max-width: 100%;
}
.ivy-bio {
    border: #994395 5px solid;
    padding: 1em 1.5em 2em 1.5em;
}

.ivy-text {
    font-size: 25px;
}

.about-wrapper {
    text-align: center;
}

/* Color and spaces contact form headings */
#inputheading-name, #inputheading-email, #inputheading-message {
    color: rgb(49, 49, 49);
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    padding: 0em 0em 1em 2em;
}

#inputheading-name {
    padding-top: 2em;
}

form {
    border-bottom: #994395 10px solid;
    border-top: #994395 10px solid;
    background: rgba(153,67,149,0.6);
}

/* Adjusts size of input boxes */
.nameinput, .emailinput, .messageinput {
    padding: 0em 4em 2em 4em;
}

#fullname {
    padding: .5em;
    width: 30%;
}

#email {
    padding: .5em;
    width: 70%;
}

#message {
    padding: 6em;
    width: 80%;
}
.messageinput {
    padding-bottom: 4em;
}

/* Styles submit button for contact form */
#sendbutton {
    font-size: 25px;
    background-color: #994395;
    color: white;
    padding: 20px;
    margin-left: 2.5em;
}

/* Flexes form for adjacent image */
.contact-grid {
    display: flex;
}

.contact-form-container {
    flex: 1;
}

.contact-img-container {
    display: flex;
    border-bottom: #994395 10px solid;
    border-top: #994395 10px solid;
}

#contact-photo {
    width: 100%;
    object-fit: cover;
}

/* Styles footer with transparent background, spacing, and font */
footer {
    background: rgba(153,67,149,0.8);
    height: 5em;
    color: white;
    text-align: center;
    padding-top: 4em;
    margin-top: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Animations */

/* Banner heading will increase letter spacing as it fades in */
h3 {
    animation-name: headingfade, headingspacing;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes headingfade {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
  }

  @keyframes headingspacing {
    0% {letter-spacing: 0px;}
    100% {letter-spacing: 4px;}
  }

a:hover {
    animation-name: buttonhover;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  @keyframes buttonhover {
    0% {text-shadow: none;}
    100% {text-shadow: #994395 1px 0 6px;}
  }
